.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}

.btn {
    border: 1px solid black;
    border-radius: 18px;
    width: 20vw;
    margin-top: 39px;
    height: 36px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition: 0.3s
}

.textoFrase {
    font-style: italic;
    color: #dd7b22;
    text-align: center;
    margin-top: 70px;
}